/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 8% !important;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    /*div.container {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }*/

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.container {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
 
 header {
    position: fixed;
    width: 100%;
    z-index: 2;
 }

 .left a {
            text-decoration: none;
            font-size:16px;
            color: white;
            display:block;
            padding-bottom: 18px;
        }

    .left a:hover{
        font-size: 16;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #adaba3;
    }