<div class="sidebar">
    <a class="{% if not 'upload' in request.path %} active {% endif %}" href="{% url 'txnanalytics:txn_dashboard' %}">
        Home
    </a>
    <a class="{% if 'upload' in request.path %} active {% endif %}" href="{% url 'txnanalytics:upload_csv' %}">
        Upload CSV
    </a>
</div>