{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


        {% block jsextra %}
            <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
        {% endblock %}

        <title>Transaction Analysis Management</title>
    </head>
    <body>
        <style type="text/css">
            .alert-dismissible, .alert-success{
                margin-left: 18%;
            }
        </style>
        <header>
            {% include "header.html" %}
        </header>
        
        <div class="container" style="position: absolute; margin-top: 5%;">
            {% block content %}
                <!--Messages-->
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{message.tags}}">
                      <button type="button" class="close" data-dismiss="alert">× </button>
                      <strong>{{message}}</strong>
                    </div>
                 {% endfor %}
                {% endif %}
                <!--End message-->
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            {% endblock %}
        </footer>

    </body>
</html>
