<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if not request.user.is_authenticated %}
        <div>
            <a class="" href="{% url 'txnanalytics:txn_dashboard' %}">
                Home
            </a>
        </div>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
            <div class="nav-item dropdown" style="float: right;">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">
                        {{request.user}}
                    </a>
                    <a class="dropdown-item" href="{% url 'accountmgmt:logout' %}">
                        Logout
                    </a>
                </div>
            </div>
        {% else %}
            <li class="nav-item">
                <a class="" href="{% url 'accountmgmt:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="" href="{% url 'accountmgmt:signup' %}">Signup</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>