{% include 'base.html' %}

<style type="text/css">
    body {
        overflow-x: hidden;
    }    
</style>

{% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include "common/sidebar.html" %}
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12" style="max-width: 95%;left: 3%;">
                    <h2 style="margin-top: 7%; text-align: center;">
                        <u>
                            Transaction History
                        </u>
                    </h2>
                    {% include "transaction/transaction_history_list_view.html" %}
                    <script>
                        $(document).ready( function () {
                            $('#table_id').dataTable();
                        } );
                    </script>
                </div>
            </div>
            <div class="row" style="margin-top: 40px; border-top: 3px solid black; width: 98%; margin-left: 2%; margin-bottom: 12%;">
                <div class="col-md-12" style="margin-top: 40px;">
                    <div id="container" style="width: 75%;" class="load-pie-chart">
                        {% include "common/page-content.html" %}
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
