{% load static %}
{% include 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include "common/sidebar.html" %}
    </div>
    <div class="col-md-9">
        <div class="row" style="margin-top:200px">
            <div class="col-md-12 ">
                <div class="container">
<!--                    <div id="drop-area"  ondrop="drop(event)" ondragover="allowDrop(event)">-->
<!--                      <form class="my-form">-->
<!--                        <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>-->
<!--                        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">-->
<!--                        <label class="button" for="fileElem">Select some files</label>-->
<!--                      </form>-->
<!--                    </div>-->

                    <form action="" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="file-upload-wrapper">
                            <input style="border:1px solid black;" type="file" id="input-file-now-custom-2" name="files" class="file-upload"
                                   data-height="500" multiple/>
                        </div>
                        <div class="show-files">
                            <ul>
                            </ul>
                        </div>
                        {% if errors %}
                        {% for key, value in errors.items %}
                        {{ key }} <br>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Line No</th>
                                <th scope="col">Errors</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in value %}
                            <tr>
                                {% for line, error in i.items %}
                                <td>{{line}}</td>
                                <td>{{error}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endfor %}
                        {% endif %}
                        <div class="row spacer">
                            <div class="">
                                <button type="submit" class="btn btn-sm btn-block btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$("input").on("input", function() {
  $(".show-files").show();
  var names = $(this).prop('files');
  for( var i = 0; i < names.length ; i++){
    console.log( names[ i ].name )
    $("ul").append("<li>" + names[ i ].name  + "</li>");
  }

});

</script>
