
{% load static %}

<div class="table-responsive">
    <table id="datatable_permissions" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'lib/ajaxDatatable/js/utils.js' %}"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'lib/ajaxDatatable/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css">

<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

<script language="javascript">
    $(document).ready(function() {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_permissions'),
            "{% url 'txnanalytics:ajax_datatable_permissions' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: true,
                scrollX: false
            }
        );
    });
</script>


<style type="text/css">
    #datatable_permissions_length {
        float: left;
    }
</style>