{% load static %}
{% include 'base.html' %}

{% block content %}
<style>

    .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
</style>
<div class="row">
    <div class="col-md-3">
        {% include "common/sidebar.html" %}
    </div>
    <div class="col-md-9">
        <div class="row" style="margin-top:200px">
            <div class="col-md-12 ">
                <div class="container">

                    <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                  <form action="" method="post" enctype="multipart/form-data" >
                                      {% csrf_token %}
                                      <div class="form-group files">
                                        <label>Upload Your File </label>
                                        <input type="file" name="files" class="form-control" multiple="">
                                      </div>
                                      <div class="row spacer">
                                        <div class="">
                                            <button type="submit" class="btn btn-sm btn-block btn-primary">Upload</button>
                                        </div>
                                    </div>
                                  </form>
                                  <div class="show-files">
                                    <ul>
                                    </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                        {% if errors %}
                        {% for key, value in errors.items %}
                        <b>#{{ key }}</b> <br>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Line No</th>
                                <th scope="col">Errors</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in value %}
                            <tr>
                                {% for line, error in i.items %}
                                <td>{{line}}</td>
                                <td>{{error}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                        {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$("input").on("input", function() {
  $(".show-files").show();
  var names = $(this).prop('files');
  for( var i = 0; i < names.length ; i++){
    console.log( names[ i ].name )
    $("ul").append("<li>" + names[ i ].name  + "</li>");
  }

});

</script>
